.container h1, p {
    color: #484848;
}

.star_gold {
    color: gold !important;
}

.card .card-body .card-subtitle {
    color: #C4C4C4 !important;
}

.body-word{
    word-wrap: break-word;
}

@media (max-width: 992px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
    }
    
    .navbar .navbar-collapse {
        text-align: center;
    }
}