.section-add {
    padding: 5vh 7vw;
    border-radius: 30px;
}

.section-add input {
    width: 100%;
}

.input-type{
    height: 50px;
    border-radius: 10px;
    border: 1px solid #C4C4C4;
    outline-color: #C4C4C4;
    width: 90%;
    margin-top: 5px;
}

.input-group{
    width: 100%;
}

.input-group-text{
    margin-top: 5px;
    height: 50px;
}

.section-add select{
    height: 60px;
    border-radius: 10px;
    border: 1px solid #C4C4C4;
    outline-color: #C4C4C4;
    padding: 20px 15px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 5px;
}

trix-editor {
    height: 350px !important;
    max-height: 350px !important;
      overflow-y: auto !important;
}
