.section-add-hotel {
    padding: 5vh 7vw;
    border-radius: 30px;
}

.section-add-hotel .harga {
    position: relative;
}

.section-add-hotel .harga>div {
    background-color: #C4C4C4;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5px;
    bottom: 20px;
    border-radius: 10px 0px 0px 10px;
}

.section-add-hotel input {
    height: 50px;
    border-radius: 10px;
    border: 1px solid #C4C4C4;
    outline-color: #C4C4C4;
    padding: 20px 15px;
    width: 90%;
    margin-bottom: 20px;
    margin-top: 5px;
}

.col-sm-8 .harga input {
    padding-left: 80px;
}

.section-add-hotel .col-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
